.h-layout {
  width: 76rem;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 48rem) {
  .h-layout {
    padding: 0 4rem;
  } 
}

 @media (min-width: 64rem) {
  .h-layout {
    padding: 0 7rem;
  } 
}

/* to the left */
.h-layout--to-the-left {
  width: calc(50vw + 38rem);
  max-width: 100%;
  margin: 0 auto 1.5rem 0;
}

/* to the right */
.h-layout--to-the-right {
  width: calc(50vw + 38rem);
  max-width: 100%;
  margin: 0 0 2rem auto;
  padding: 0 1.5rem 0 1.5rem; 
}

 @media (min-width: 48rem) {
  .h-layout--to-the-right {
    padding: 0 4rem 0 4rem;
  }
}

 @media (min-width: 64rem) {
  .h-layout--to-the-right {
    padding: 0 7rem 0 7rem;
  }
} 